
* {
    border: 0;
    margin: 0;
}

body {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;    
}

#photo {
}

#question_div {
    margin: 4px;
}

.center {
    position: absolute; margin: auto;
}

.button{
    float: left;
    border: 1px solid #000000;
    font-size: 18px;
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
}

#message {
    font-size: 22px;
}

#countdown {
    font-size: 22px;
    margin-left: 5px;
}

#quantity {
    margin-right: 5px;
}

#result_div {
    margin: 5px;
}
